<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!wrToEditId" class="ion-text-center"
      >New Work Request</ion-title
    >
    <ion-title *ngIf="wrToEditId" class="ion-text-center"
      >Work Request</ion-title
    >
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="goBack()">
        <ion-icon *ngIf="wrToEditId" name="arrow-back-outline"></ion-icon>
        <ion-icon *ngIf="!wrToEditId" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="">
  <form #wrForm="ngForm" (ngSubmit)="saveWorkRequest()">
    <ion-grid>
      <!-- Date and GMT -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              name="date"
              required
              label="DATE"
              [(ngModel)]="wrDate"
              labelPlacement="stacked"
              type="datetime"
              id="open_cal"
              disabled="true"
            ></ion-input>
            <ion-modal [keepContentsMounted]="true" [initialBreakpoint]="0.8">
              <ng-template>
                <ion-datetime
                  presentation="date-time"
                  [(ngModel)]="wrDateModal"
                  mode="md"
                  [ngModelOptions]="{standalone: true}"
                  [showDefaultButtons]="true"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select
              name="gmt"
              required
              label="GMT"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrTimezone"
              disabled="true"
            >
              <ion-select-option
                *ngFor="let option of timezones"
                value="{{option.value}}"
                >{{option.label}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Status -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select
              name="status"
              required
              label="STATUS"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrStatus"
              disabled="{{wrDisabled}}"
            >
              <ion-select-option
                *ngFor="let option of statuses"
                value="{{option.value}}"
                >{{option.label}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Asset Location -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              type="text"
              name="location"
              required
              label="ASSET LOCATION"
              labelPlacement="stacked"
              [(ngModel)]="wrAssetLocation.ASLODESCR"
              (click)="selectAssetLocation()"
              readonly="true"
              disabled="{{wrDisabled}}"
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <ion-item lines="none" class="ion-no-padding ion-no-margin">
            <ion-button
              size="small"
              color="primary"
              *ngIf="wrAssetLocationCode"
              class="ion-margin-top"
              (click)="showAssetLocationDetails()"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
            <ion-button
              size="small"
              color="primary"
              disabled="{{wrDisabled}}"
              class="ion-margin-top"
              (click)="selectAssetLocationTreeview('')"
              ><ion-icon name="git-merge-outline"></ion-icon
            ></ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Component -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              type="text"
              name="component"
              required
              label="COMPONENT"
              labelPlacement="stacked"
              [disabled]="!componentComboEnabled || wrDisabled"
              [(ngModel)]="wrComponent.COGRDESCR"
              (click)="selectComponent()"
              readonly="true"
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <ion-item lines="none" class="ion-no-padding ion-no-margin">
            <ion-button
              id="componentPath"
              size="small"
              color="primary"
              class="ion-margin-top"
              *ngIf="wrComponentCode"
              (click)="showAssetComponentDetails()"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Problem -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              type="text"
              name="problem"
              required
              label="PROBLEM"
              labelPlacement="stacked"
              [disabled]="!problemsComboEnabled || wrDisabled"
              [(ngModel)]="wrProblem.PROBDESCR"
              (click)="selectProblem()"
              readonly="true"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Reported By -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              type="text"
              name="reported"
              label="REPORTED BY"
              labelPlacement="stacked"
              [(ngModel)]="wrReportedBy.PERSONNAME"
              (click)="selectReportedBy()"
              readonly="true"
              disabled="{{wrDisabled}}"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- WR Description -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-textarea
              name="description"
              #description="ngModel"
              required
              label="WR DESCRIPTION"
              labelPlacement="stacked"
              maxlength="120"
              [(ngModel)]="wrDescription"
              (ionChange)="onWRDescriptionChanged()"
              disabled="{{wrDisabled}}"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- WR Notes -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-textarea
              name="notes"
              label="WR NOTES"
              labelPlacement="stacked"
              [autoGrow]="true"
              [(ngModel)]="wrNotes"
              (ionChange)="onWRNotesChanged()"
              disabled="{{wrDisabled}}"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Reported by Guest -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select
              name="repByGuest"
              label="REPORTED BY GUEST"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrIsRepGuest"
              disabled="{{wrDisabled}}"
            >
              <ion-select-option
                *ngFor="let option of repGuestOpts"
                value="{{option.value}}"
                >{{option.label}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            *ngIf="!wrDisabled"
            type="submit"
            [disabled]="!wrForm.form.valid"
            expand="full"
            >Submit</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
