<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Work Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid *ngIf="!wrAdded; else carlo">
      <!-- Date and GMT -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              label="DATE"
              [(ngModel)]="wrDate"
              labelPlacement="stacked"
              type="datetime"
              id="open_cal"
            ></ion-input>
            <ion-modal
              trigger="open_cal"
              [keepContentsMounted]="true"
              [initialBreakpoint]="0.8"
            >
              <ng-template>
                <ion-datetime
                  presentation="date-time"
                  [(ngModel)]="wrDateModal"
                  mode="md"
                  [ngModelOptions]="{standalone: true}"
                  [showDefaultButtons]="true"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select
              label="GMT"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrTimezone"
            >
              <ion-select-option
                *ngFor="let option of timezones"
                value="{{option.value}}"
                >{{option.label}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Status -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select
              label="STATUS"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrStatus"
            >
              <ion-select-option
                *ngFor="let option of statuses"
                value="{{option.value}}"
                >{{option.label}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Asset Location -->
      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-select
              label="ASSET LOCATION"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrAssetLocationCode"
              (ionChange)="onAssetLocationSelected()"
            >
              <ion-select-option
                *ngFor="let loc of allAssetLocations"
                value="{{loc.ASLOCODE}}"
                >{{loc.ASLODESCR}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button
            id="locationPath"
            color="light"
            size="small"
            class="ion-margin-top"
            [disabled]="!wrAssetLocationCode"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-alert
            trigger="locationPath"
            header="Asset Location Path"
            subHeader="{{wrAssetLocation.ASLODESCR}}"
            message="{{wrAssetLocation.ASLOIDPATH}}"
          ></ion-alert
        ></ion-col>
      </ion-row>

      <!-- Component -->
      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-select
              label="COMPONENT"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrComponentCode"
              (ionChange)="onComponentSelected()"
              [disabled]="!componentComboEnabled"
            >
              <ion-select-option
                *ngFor="let comp of assetLocationComponents"
                value="{{comp.COGRCDCOMP}}"
                >{{comp.COGRDESCR}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button
            id="componentPath"
            color="light"
            size="small"
            class="ion-margin-top"
            [disabled]="!wrComponentCode"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-alert
            trigger="componentPath"
            header="Component Path"
            subHeader="{{wrComponent.COGRDESCR}}"
            message="{{wrComponent.COGRCDPATH}}"
          ></ion-alert
        ></ion-col>
      </ion-row>

      <!-- Problem -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select
              label="PROBLEM"
              labelPlacement="stacked"
              interface="action-sheet"
              [(ngModel)]="wrProblemCode"
              (ionChange)="onProblemSelected()"
              [disabled]="!problemsComboEnabled"
            >
              <ion-select-option
                *ngFor="let prob of componentProblems"
                value="{{prob.PROBCODE}}"
                >{{prob.PROBDESCR}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="addWorkRequest()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ng-template #carlo> Work Request inserita da C.Bagnasco </ng-template>
