<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="">
  <ion-text class="ion-text-center" color="primary">
    <h1>InfoSHIP</h1>
  </ion-text>
  <ion-button expand="full" (click)="goToNewWorkRequest()"
    >New Work Request</ion-button
  >
  <ion-button expand="full" (click)="goToWorkRequests()"
    >Work Requests</ion-button
  >

  <ion-button expand="full" (click)="goToREQApproval()"
    >REQ Approval</ion-button
  >

  <ion-button expand="full" (click)="goToDBTester()">DB Tester</ion-button>

  <ion-button expand="full" (click)="goToWSTester()">WS Tester</ion-button>
</ion-content>
