<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Work Requests</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="goBack()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="">
  <ion-list>
    <ion-item
      *ngFor="let wr of workRequests"
      color="{{wr.COLOR}}"
      detail="true"
      button=""
      (click)="onWorkRequestClicked(wr.IDLIST)"
    >
      <ion-label>
        <h2>{{wr.WOREDESCR}}</h2>
        <p>{{wr.ASLODESCR}}</p>
        <p>{{wr.COGRDESCR}} - {{wr.PROBDESCR}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
