<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>REQ Rows</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="">
  <ion-list>
    <ion-item *ngFor="let row of rows">
      <ion-grid>
        <ion-row class="row">
          <ion-col>
            <ion-input
              label="Item Id"
              labelPlacement="stacked"
              type="text"
              [(ngModel)]="row.IDITEM"
              readonly="true"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col>
            <ion-input
              label="Item Description"
              labelPlacement="stacked"
              type="text"
              [(ngModel)]="row.DSITEM"
              readonly="true"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col>
            <ion-input
              class="active-input"
              label="Quantity"
              labelPlacement="stacked"
              type="number"
              [(ngModel)]="row.QTITEM"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col>
            <ion-input
              class="active-input"
              label="Cost Center"
              labelPlacement="stacked"
              type="text"
              [(ngModel)]="row.CDCOST_CENTER"
              readonly="true"
            ></ion-input>
          </ion-col>
          <ion-col>
            <ion-button
              size="small"
              color="primary"
              class="ion-margin-top"
              (click)="selectCostCenterForRow(row.CDCOST_CENTER, row)"
              ><ion-icon name="git-merge-outline"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col>
            <ion-input
              class="active-input"
              label="Account"
              labelPlacement="stacked"
              type="text"
              [(ngModel)]="row.CDACCOUNT"
              readonly="true"
            ></ion-input>
          </ion-col>
          <ion-col>
            <ion-button
              size="small"
              color="primary"
              class="ion-margin-top"
              [disabled]="!row.CDCOST_CENTER"
              (click)="selectAccountForRow(row.CDACCOUNT, row)"
              ><ion-icon name="git-merge-outline"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col>
            <ion-input
              class="active-input"
              label="Notes"
              labelPlacement="stacked"
              type="text"
              [(ngModel)]="row.NTPHASE"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-button
    *ngFor="let status of statusList"
    expand="full"
    color="{{status.isCancelled ? 'danger' : 'primary'}}"
    (click)="changeStatus(status.code)"
    >{{status.description}}</ion-button
  >
</ion-content>
