<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>WSTester</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="goBack()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="">
  <ion-grid>
    <ion-item-divider>
      <ion-label> GET TOKEN </ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col>
        <ion-input
          type="text"
          label="Service Username"
          labelPlacement="stacked"
          [(ngModel)]="serviceUsername"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          type="text"
          label="Service Password"
          labelPlacement="stacked"
          [(ngModel)]="servicePassword"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          type="text"
          label="Company"
          labelPlacement="stacked"
          [(ngModel)]="company"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="displayToken()"
          >GET TOKEN</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <br />
        <ion-textarea
          style="font-size: small"
          value="{{getTokenResult}}"
          label="Result Token"
          labelPlacement="stacked"
          rows="7"
        >
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-item-divider *ngIf="getTokenResult">
      <ion-label> VALIDATE USER </ion-label>
    </ion-item-divider>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-input
          type="text"
          label="Username"
          labelPlacement="stacked"
          [(ngModel)]="username"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-input
          type="text"
          label="Password"
          labelPlacement="stacked"
          [(ngModel)]="password"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-button expand="full" (click)="testToken()"
          >VALIDATE USER</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row *ngIf="testTokenResult">
      <ion-col>
        <br />
        <ion-textarea
          style="font-size: small"
          value="{{testTokenResult}}"
          label="Result"
          labelPlacement="stacked"
          rows="7"
        >
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-item-divider *ngIf="getTokenResult">
      <ion-label> TEST QUERY </ion-label>
    </ion-item-divider>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-input
          type="text"
          label="Query Id"
          labelPlacement="stacked"
          [(ngModel)]="queryId"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-input
          type="text"
          label="Filters"
          labelPlacement="stacked"
          [(ngModel)]="queryFilters"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-button expand="full" (click)="query()">TEST QUERY</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="queryResult">
      <ion-col>
        <br />
        <ion-textarea
          style="font-size: small"
          value="{{queryResult}}"
          label="Result"
          labelPlacement="stacked"
          rows="7"
        >
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-item-divider *ngIf="getTokenResult">
      <ion-label> TEST POST </ion-label>
    </ion-item-divider>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-input
          type="text"
          label="POST endpoint"
          labelPlacement="stacked"
          [(ngModel)]="postEndpoint"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <br />
        <ion-textarea
          style="font-size: small"
          [(ngModel)]="postBody"
          label="Body"
          labelPlacement="stacked"
          rows="10"
        >
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-button expand="full" (click)="testPost()">TEST POST</ion-button>
      </ion-col>
    </ion-row>
    <ion-item-divider *ngIf="getTokenResult">
      <ion-label> TEST GET ATTACHMENT </ion-label>
    </ion-item-divider>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-input
          type="text"
          label="pDOCID"
          labelPlacement="stacked"
          [(ngModel)]="docid"
          [clearInput]="true"
        >
        </ion-input> </ion-col
    ></ion-row>
    <ion-row *ngIf="getTokenResult">
      <ion-col>
        <ion-button expand="full" (click)="getAttachment()"
          >GET ATTACHMENT</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
