<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-button fill="outline" color="medium" (click)="cancel()"
              >Cancel</ion-button
            >
          </ion-buttons>
          <ion-title class="search-list-title">{{ title }}</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="outline" color="danger" (click)="clear()"
              >Clear</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar
          [(ngModel)]="filterText"
          (ionInput)="applyFilter()"
          debounce="300"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content class="ion-padding" role="feed">
  <ion-list>
    <ion-item *ngFor="let option of visibleOptions" role="article">
      <ion-label (click)="confirm(option.value)">{{ option.label }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
